<section>
  <form [formGroup]="searchForm" class="search-bar">
    <div class="input-group mb-3">
      <input type="text" formControlName="search" class="form-control search-feild" placeholder="Search"
        aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="search-icon"></div>
    </div>
  </form>

  <div id="accordion">
    <div class="card" *ngFor="let detail of details | filter: searchForm.get('search').value;let i=index">
      <div class="card-header" id="headingOne" (click)="displayAccordion(i)">
        <h5 class="mb-0" class="header">
          {{detail.email}}
        </h5>
        <i class="fa fa-chevron-{{displayIndex == i ? 'up':'down'}} header-icon"></i>
      </div>

      <div id="collapseOne" class="collapse" [ngClass]="{'show': i === displayIndex}" aria-labelledby="headingOne"
        data-parent="#accordion">
        <div class="card-body">
          {{detail.first_name}} {{detail.last_name}}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(details | filter: searchForm.get('search').value).length == 0" class="no-results">No results found.</div>
</section>